ul.app-icon-list
  for app in hero_apps
    if conf.apps[app]
      li.tile-link
        a(href=conf.apps[app].url + "/")
          img(src=conf.apps[app].image)
          span.name= conf.apps[app].name
        p= conf.apps[app].about
        if conf.apps[app].video
          a.modal-video(href='#', data-url=conf.apps[app].video,
                        data-width='640', data-height='360')
            i.icon-play
            | Video about #{conf.apps[app].name}
