extends ../../../../views/layout

block poststyles
  link(rel="stylesheet", type="text/css", href=asset("clock/css/style.styl"))

block postscripts
  script(type='text/javascript', src=asset("clock/js/frontend.coffee"))

block preapp
  div.pull-right
    ul.sharing-online-group.pull-right
      li.room-users
      li.sharing
  div(style='height: 2em;')

block postapp
  // 
  // Front mater
  //
  script(type='text/template', id='splashTemplate')
    h1 Progressive Clock
    p.
      Keep track of speaker time in meetings by identity category. Learn more
      about <a class='softnav about' href='/clock/about/'>what this is good for and
      what it isn't</a>.
    a.btn.btn-large.btn-primary.softnav.add-new-clock(href='/clock/add/') New clock

  script(type='text/template', id='aboutTemplate')
    h1 About the Progressive Clock

  // 
  // Adding / editing
  //
  script(type='text/template', id='editTemplate')
    h1 <%= title %>
    div.row-fluid
      div.span6.offset3
        form.form-horizontal
          div.control-group
            label.control-label(for="id_name") *Event or meeting name
            div.controls
              input#id_name(type='text', name='name', style='display: block;')
          div.control-group
            label.control-label(for="id_categories") *Categories
            div.controls#category_controls
          //div.control-group
          //  label.control-label(for="id_present") Who's Present
          //  div.controls#present_controls
          div.control-group
            label.control-label(for="id_group") Group and sharing
            div.controls#sharing_controls
          div.control-group
            div.controls.
              <input class='btn btn-primary btn-large' type='submit'
                     value='<%= action %>' />

  script(type='text/template', id='itemsListTemplate')
    div.items
    div
      input.btn.add(type='button', value='+ add more')
      
  script(type='text/template', id='itemsListItemTemplate')
    div.
      <input type='text' name='<%= name %>' value='<%= value %>'
             class='item' data-index='<%= index %>' tabindex=0 />
      <% if (!last) { %>
        <input type='button' class='btn remove-item' value='-'
               data-index='<%= index %>' tabindex=1 />
      <% } %>

  script(type='text/template', id='presentControlsTemplate')

  // 
  // Detail
  //
  script(type='text/template', id='timeKeeperTemplate')
  script(type='text/template', id='categoryTimerTemplate')
  script(type='text/template', id='currentTimeTemplate')

  // 
  // Reviewing
  //
  script(type='text/template', id='graphTemplate')
  script(type='text/template', id='exportTemplate')


