extends ../../../../views/layout

block poststyles
  link(rel="stylesheet", type="text/css", href=asset("clock/css/style.styl"))

block postscripts
  script(type='text/javascript', src=asset("clock/js/frontend.coffee"))

block preapp
  div.pull-right(style='position: absolute; right: 1em; top: 60px;')
    ul.sharing-online-group.pull-right
      li.room-users
      li.sharing
  div(style='height: 2em;')

block postapp
  // 
  // Front mater
  //
  script(type='text/template', id='splashTemplate')
    h1 Progressive Clock
    div.row-fluid
      div.span6.offset3
        p.
          Keep track of speaker time in meetings by identity category. Learn
          more about <a class='softnav about' href='/clock/about/'>what this is
          good for and what it isn't</a>.
        p.
          If you're away from an Internet connection and don't need a collaborative
          clock, you can use the older
          <a href='http://timeoff.intertwinkles.org'>static offline clock</a>.
        div(style='text-align: center;')
          a.btn.btn-large.btn-primary.softnav.add-new-clock(href='/clock/add/').
            New clock
    div.row-fluid
      div.span6
        h3(style='text-align: left;') Public clocks
        div.public-clocks Nothing here yet.
      div.span6
        h3(style='text-align: left;') From your groups
        div.group-clocks.
          <% if (intertwinkles.is_authenticated()) { %>
            Nothing here yet.
          <% } else { %>
            Sign in to see your groups' clocks.
          <% } %>

  script(type='text/template', id='splashItemTemplate')
    li.
      <a class='softnav' href='/clock/c/<%- clock.id %>/'>
        <%- clock.get("name") %>
      </a>
      <span class='group-name label varsub' data-group-id='<%- clock.get("sharing").group_id %>'></span>

      <div class='category-list'>
        <% var categories = clock.get("categories"); %>
        <% for (var i = 0; i < categories.length; i++) { %>
          <%- categories[i].name %><%= i == categories.length - 1 ? "" : ", " %>
        <% } %>
      </div>
      <div>
        <% var startDate = clock.getStartDate(); %>
        <%- startDate ? startDate.toLocaleString() : "" %>
      </div>


  script(type='text/template', id='aboutTemplate')
    h3 About the Progressive Clock
    div.row-fluid
      div.span6.offset3
        :markdown
          Many groups are interested in countering **structural inequalities**
          that may be at work withinin their group or meetings.  This might
          mean asking the more vocal members to step back and for others to
          step up, or asking people to be more aware of patterns of interuption,
          repetition, and speaking time.

          This clock is intended to help people with reflecting on their
          meeting practices. You can set up identity categories that are
          important to your group &ndash; for example gender, race, power
          position, or seniority (e.g. old members vs new members) &ndash;
          and track how long people within each category are speaking.

          Please think very critically before using results of any meeting's
          speaking time to make changes in your group. Perfectly equitable
          timing is usually not an ideal goal in and of itself. **Uncritically
          striving for perfectly equal speaking time can hurt good
          facilitation**, prevent skilled people from sharing their knowledge,
          and make people with an economy of words uncomfortable.

          What this clock can be good for is helping you to **reflect on your
          group's meeting dynamics with data**. It's a starting point for
          reflection and conversation. It's not a simple litmus test.
          
          Here is a really nice [research paper](http://alumni.media.mit.edu/~taemie/papers/200811_CSCW_TKim.pdf)
          \[PDF] on the subject of intervening in meetings to track speaking
          time if you'd like to read more.  The research paper finds that
          sometimes giving people metrics on speaking time makes their meetings
          less effective. So be critical!


    div(style='text-align: center;')
      a.btn.softnav(href="/clock/") Back

  // 
  // Adding / editing
  //
  script(type='text/template', id='editTemplate')
    h1 <%- title %>
    div.row-fluid
      div.span6.offset3
        form.form-horizontal
          div.control-group
            label.control-label(for="id_name") *Event or meeting name
            div.controls
              <input id='id_name' type='text' name='name' style='display: block' value='<%- model.name || "" %>' />
          div.control-group
            label.control-label(for="id_about") About
            div.controls
              <textarea id='id_about' name='about'><%- model.about || "" %></textarea>
          div.control-group
            label.control-label(for="id_categories") *Categories
            div.controls#category_controls
          //div.control-group
          //  label.control-label(for="id_present") Who's Present
          //  div.controls#present_controls
          div.control-group
            label.control-label(for="id_group") Group and sharing
            div.controls#sharing_controls
          div.control-group
            div.controls.
              <input class='btn btn-primary btn-large' type='submit'
                     value='<%- action %>' />
    div.clock-footer

  script(type='text/template', id='itemsListTemplate')
    div.items
    div
      input.btn.add(type='button', value='+ add more')
      
  script(type='text/template', id='itemsListItemTemplate')
    div.
      <input type='text' name='<%- name %>' value='<%- value %>'
             class='item' data-index='<%- index %>' tabindex=0 />
      <% if (!last) { %>
        <input type='button' class='btn remove-item' value='-'
               data-index='<%- index %>' tabindex=1 />
      <% } %>

  script(type='text/template', id='presentControlsTemplate')

  // 
  // Detail
  //
  script(type='text/template', id='clockTemplate')
    div.clock.row-fluid
      div.span6.offset3
        h3.name.
          <%- model.name %>
        <% if (model.about) { %>
        div.about.
          <%= intertwinkles.markup(model.about) %>
        <% } %>
        div.meeting-start
        div.current-time
        div.category-list
        div.clock-footer

  script(type='text/template', id='categoryTimerTemplate')
    <span class='category-name'><span class='width'><%- name %></span></span>
    <span class='elapsed'></span> 

  script(type='text/template', id='clockFooterTemplate')
    div.clock-nav.btn-group.
      <% _.each(links, function(link) { %>
        <a href='<%- link[2] %>' class='btn softnav <%- current == link[0] ? " active" : "" %>'>
          <%- link[1] %>
        </a>
      <% }); %>

  // 
  // Reviewing
  //
  script(type='text/template', id='graphTemplate')
    h3 Graph of speaking times
    <% if (hasData) { %>
    div.graph.
      <% _.each(categories, function(category) { %>
        <div class='category row-fluid'>
          <div class='name span2'><%- category.name %></div>
          <div class='times span10' style='position: relative'>
            <% _.each(category.times, function(time) { %>
              <div class='time-block'
                data-start='<%- time.start %>'
                data-stop='<%- time.stop %>'
                data-toggle="tooltip"
                data-title="<%- parseInt(time.elapsed / 1000 / 60) + ':' + parseInt((time.elapsed / 1000) % 60) %>"
                data-placement="bottom"
                ></div>
            <% }); %>
          </div>
        </div>
      <% }); %>
    div(style='text-align: center;')
      label
        <input type='checkbox' class='ignore-gaps' <%= ignoreGaps ? "checked" : "" %> />
        | Ignore gaps
    <% } else { %>
    p(style='text-align: center;').
      No data yet.
    <% } %>


    div.clock-footer

  script(type='text/template', id='exportTemplate')
    div.row-fluid
      div.span6.offset3
        div.export-data
          h3 Export data
          <% if (startDate) { %>
          p.
            Export data for "<%- model.get('name') %>",
            from <%- intertwinkles.parse_date(startDate).toLocaleString() %>.  Copy and paste this to use it for further analysis in other tools.
          div.btn-group
            <a href='#' class='btn json<%- active == "json" ? " active" : "" %>'>JSON</a>
            <a href='#' class='btn csv<%- active == "csv" ? " active" : "" %>'>CSV</a>
          div
            textarea.clock-export.
              <%= data %>
          <% } else { %>
          p(style='text-align: center;').
            No data yet.
          <% } %>
        div.clock-footer


