extends www_base

block poststyles
  style(type='text/css')
    ul.user li,
    ul.entity li,
    ul.user-events li,
    ul.event li,
    ul.entity-summary li {
      list-style-type: none;
    }
    ul.user-events li,
    ul.event li,
    ul.entity-summary li {
      display: inline-block;
      white-space: nowrap;
    }
    ul.entity div.entity {
      padding: 1em 1em;
    }
    table.summary th,
    table.summary td,
    table.collected-events th,
    table.collected-events td {
      vertical-align: top;
      border: 1px solid #eee;
    }
    table.title, table.summary {
      margin-left: auto;
      margin-right: auto;
    }
    ul.user > li {
      margin: 1em;
      padding: 0.5em;
      border: 3px solid #eee;
    }

block body
  div(style='text-align: center;')
    table.title
      tr
        td
          a(href=absolutize_url(prev_url)) &ldquo; Previous day
        td
          h3 Activity in your groups on <nobr>#{start.toDateString()}</nobr>
        td
          a(href=absolutize_url(next_url)) Next day &rdquo;
  if hierarchy.length == 0
    p No activity found for this day.
  else
    div.tldr
      h1 Summary
      table.summary
        tr
          th Group
          th Name
          th Worked on
        - var cur_group = null;
        each group in hierarchy
          each user_events in group.users
            tr
              if group != cur_group
                - cur_group = group
                th(rowspan=group.users.length)
                  - console.log(group.group.logo)
                  if group.group.logo && group.group.logo.small
                    img(src=absolutize_url(group.group.logo.small))
                    br
                  = group.group.name
              th 
                span.attrib
                  if user_events.ident.user
                    img(src=absolutize_url('#{user_events.ident.user.icon.tiny}'))
                    = user_events.ident.user.name
                  else
                    i.icon-user
                    = user_events.ident.name || "Anonymous"
              td
                ul.entity-summary
                  each entity, i in user_events.entities
                    li
                      a(href=absolutize_url(entity.absolute_url))
                        img(src=absolutize_url(conf.apps[entity.application].image),
                            style='width: 32px; height: 32px;')
                        = entity.entity_name
                      if i < user_events.entities.length - 1
                        | ,&ensp; 
                      // > (this line is a syntax highlghting bug workaround)
                      

    h1 Details
    each group in hierarchy
      h3
        a(href=absolutize_url(group.group.url))
          if group.group.logo && group.group.logo.small
            img(src=absolutize_url(group.group.logo.small))
          = group.group.name
      - var curEntity = null;
      ul.user
        each user_events in group.users
          li
            span.attrib
              if user_events.ident.user
                img(src=absolutize_url('#{user_events.ident.user.icon.tiny}'))
                = user_events.ident.user.name
              else
                i.icon-user
                = user_events.ident.name || "Anonymous"
            if user_events.entities.length == 1 && user_events.entities[0].collectives.length == 1 && user_events.entities[0].collectives[0].events.length == 1 && user_events.entities[0].collectives[0].events[0].grammar.length == 1
              // User only has one event on one entity.
              - event = user_events.entities[0].collectives[0].events[0]
              - grammar = event.grammar[0]
              | &ensp;
              if grammar.image
                = grammar.verbed
                a(href=absolutize_url(event.absolute_url))
                  img(src=absolutize_url(grammar.image), alt=grammar.aspect + " " + (grammar.manner ? '(' + grammar.manner + ')' : '' ))
              else
                | #{grammar.verbed} #{grammar.aspect} #{(grammar.manner ? '(' + grammar.manner + ')' : '' )}
              a(href=absolutize_url(event.absolute_url))
                img(src=absolutize_url(conf.apps[event.application].image),
                    style='width: 32px; height: 32px;')
                = grammar.entity
            else
              // User has more than one entity or more than one event on an entity.
              ul.entity
                each entity in user_events.entities
                  li.user-events
                    if entity.collectives.length == 1
                      a(href=absolutize_url(entity.absolute_url))
                        img(src=absolutize_url(conf.apps[entity.application].image),
                            style='width: 32px; height: 32px;')
                        = entity.entity_name
                      | :
                      each collective, i in entity.collectives
                        each event, j in collective.events
                          each grammar, k in event.grammar
                            | &ensp; #{grammar.verbed}
                            if grammar.image
                              a(href=absolutize_url(event.absolute_url))
                                img(src=absolutize_url(grammar.image),
                                    alt=grammar.aspect + " " + (grammar.manner ? '(' + grammar.manner + ')' : ''))
                            else
                              = " " + grammar.aspect + (grammar.manner ? ' (' + grammar.manner + ')' : '')
                            - console.log(i, entity.collectives.length, j, event.grammar.length);
                            if i < entity.collectives.length - 1 || j < collective.events.length - 1 || k < event.grammar.length - 1
                              | ,

                    else
                      div.entity
                        a(href=absolutize_url(entity.absolute_url))
                          img(src=absolutize_url(conf.apps[entity.application].image),
                              style='width: 32px; height: 32px;')
                          = entity.entity_name
                      table.collected-events
                        tr
                        each collective in entity.collectives
                          th= collective.collective
                        tr
                        each collective in entity.collectives
                          td
                            ul.event
                              each event, i in collective.events
                                each grammar, j in event.grammar
                                  if grammar.image
                                    li
                                      a(href=absolutize_url(event.absolute_url))
                                        img(src=absolutize_url(grammar.image),
                                            alt=grammar.aspect + " " + (grammar.manner ? '(' + grammar.manner + ')' : ''))
                                      if i < collective.events.length - 1 || j < event.grammar.length - 1
                                        | ,&ensp;
                                  else
                                    li
                                      = grammar.verbed + " " + grammar.aspect + (grammar.manner ? ' (' + grammar.manner + ')' : '')
                                      if i < collective.events.length - 1 || j < event.grammar.length - 1
                                        | ,&ensp;
