extends www_base

block body
  div.container-fluid#frontpage
    if (activity)
      div.row-fluid
        div.span3
          h3 Groups
          ul
            for group in groups
              li.
                <a href='/groups/show/#{group.slug}'>#{group.name}</a>
                (#{group.members.length} members)
          a.btn(href='/groups/new') Add new group

          h3(style='text-align: center;') Tools
          include includes/app_list
        div.span9
          div.row-fluid
            div.span4
              if (activity.docs.length > 0)
                h3 Recent things
                ul.events-and-docs
                  for doc in activity.docs
                    li.tile-link
                      summary = "<span class='markmeup'>" + doc.summary + "</span>"
                      include includes/search_result

            div.span4
              if (activity.user.length > 0)
                h3 Your activity
                ul.events-and-docs
                  for event in activity.user
                    li.tile-link
                      show_user = false
                      include includes/event
            div.span4
              if (activity.group.length > 0)
                h3 Your groups' activity
                ul.events-and-docs
                  for event in activity.group
                    li.tile-link
                      show_user = true
                      include includes/event

    else
      div.row-fluid
        div.span12.hero-unit
          div.row-fluid
            div.span6
              h1(style='text-align: left;') Inter&#8203;<span class='intertwinkles'>Twinkles</h1>
              img(src='/static/img/inspire.png', alt="Inspire, expand, contract, approve, accomplish")
            div.span6
              p(style='text-align: center;') Twinkling all over the interwebs.

              p.
                InterTwinkles is a collection of tools to help <nobr><strong>small,
                democratic groups</strong></nobr> to make decisions by
                <strong>consensus</strong> online. The tools are designed from
                the ground up to support the needs of groups like
                <strong>cooperatives</strong>, <strong>collectives</strong>,
                <strong>affinity groups</strong>, and
                <strong>participatory boards of directors</strong>.

              p.
                Decision making is more than just voting. It involves
                brainstorming, learning, sharing, deliberating, generating ideas,
                and supporting each other. InterTwinkles aims to apply the same
                critical creativity to online discussion that groups have 
                applied to in-person meetings for decades.
              p
                a.modal-video(href='#',
                  data-url='https://www.youtube-nocookie.com/embed/6YBWrcTsMl0',
                  data-width='640', data-height='360')
                    i.icon-play
                    | 5 minute video introduction
      div.row-fluid
        div.span12
          h3(style='text-align: center;') Tools
          include includes/app_list

      div.row-fluid
        div.span4.offset1
          h3(style='text-align: center;') Features
          ul  
            li Real-time, collaborative editing
            li Flexible permissions &ndash; share with your group, or with the world for specified time periods.
            li Integrated search
            li See who in your group has been active, and who hasn't
        div.span4.offset2
          h3(style='text-align: center;') Workshops
          p(style='line-height: 1.25em;').
            From January to June of 2013, we'll be running workshops sharing
            these tools and co-developing best practices for online decision
            making.  Want to participate?
            <a href='mailto:cfd@media.mit.edu'>Contact us!</a>
    hr
    div.row-fluid
      div.span12
        h3(style='text-align: center;') More Things
        ul.more-things
          li
            p.
              <a href='http://time.intertwinkles.org'>Progressive Clock</a>:
              a simple application for "progressive timekeeping" &ndash;
              keeping track of speaking time by categories of identity (e.g.
              sex, gender, racial identity, power position, etc). The categories
              are configurable.
            p.
              A new version of Progressive Clock which integrates with the rest
              of the InterTwinkles platform is currently under development.
          li
            p.
              <a href='http://tenpoints.intertwinkles.org'>Ten Points</a>: a
              consensus-building tool modeled after the meetings tool from the
              <a href="http://meetings.mayfirst.org">May First/People Link</a>
              collective. Groups can use 10 Points to develop a shared set of
              principles, values, questions, or points that everyone agrees
              with.
            p.
              A new version of Ten Points which integrates with the rest of the
              InterTwinkles platform is currently under development.
          li
            p.
              <a href="http://moon.byconsens.us">Moon Talk</a>:
              a facilitated role playing communication game which asks players to
              think about what it's like to make decisions using constrained
              communication channels. How hard is it to schedule a meeting, if
              you can't see each other, and only one person can talk at once?
            p.
              The Moon Talk website contains the directions you need to play a
              game of moon talk with your group.



block append postscripts
  :coffeescript
    intertwinkles.user.on "change:_id", ->
      window.location.href = window.location.href
    resizeH1 = ->
      width = $("h1").width()
      $("h1").css("font-size", Math.min(600, Math.max(30, width * 0.8)) + "%")
    $(window).on "resize", resizeH1
    resizeH1()
