extends ../../../../views/layout

block body
  script#twinklePadIndexViewTemplate(type='text/template')
    h1 TwinklePad
    div.row-fluid
      div.span6.offset3
        p.
          Public or private collaborative document editing, powered by
          <a href='http://etherpad.org'>etherpad</a>, for your groups.
        p(style='text-align: center;')
          a.btn.btn-primary.btn-large.softnav(href='/twinklepad/new/') New Pad

  script#editTwinklePadViewTemplate(type='text/template')
    h3 <%- model.id ? "Edit Pad" : "New Pad" %>
    form.form-horizontal
      div.control-group
        label.control-label(for='id_name') Name
        div.controls.
          <% console.log(model); %>
          <input id='id_name' type='text' name='name'
                 placeholder='<%- randomName %>' value='<%- model.pad_name || "" %>' />

      div.control-group
        label.control-label(for='id_sharing') Sharing
        div.controls
          div#sharing

      div.control-group
        div.controls.
          <input class='btn btn-primary btn-large' type='submit'
                 value='<%- model.id ? 'Save changes' : 'Create Pad' %>' />
    
  script#twinklePadViewTemplate(type='text/template')
    div.pull-right(style='position: absolute; right: 2em; top: 0.5em')
      ul.sharing-online-group
        li(style='width: 4em;')
        li.sharing
    div(style='height: 3em;')
      h3(style='display: inline-block; vertical-align: middle; padding-right: 1em;')
        <%- model.pad_name %>
      <% if (editable) { %>
      | <a href='/twinklepad<%- model.url %>edit/' class='softnav edit'>
      |  change
      | </a>
      <% } %>
    div.
      <% if (editable) { %>
        <iframe src='<%- embed_url %>'
                style='border: none;' height="100%" width="100%"></iframe>
      <% } else { %>
        <div id='text'><%= model.text %></div>
      <% } %>


block poststyles
  link(rel="stylesheet", type="text/css", href=asset("twinklepad/css/style.styl"))

block postscripts
  script(type="text/javascript", src=asset("twinklepad/js/frontend.coffee"))
