extends ../../../../views/layout

block body
  script#twinklePadIndexViewTemplate(type='text/template')
    h1 TwinklePad
    div.row-fluid

      div.span6.offset3
        p(style='font-size: 18px').
          Public or private shared document editing, powered by
          etherpad, for your groups.
        p(style='text-align: center;')
          a.btn.btn-primary.btn-large.softnav(href='/twinklepad/new/') New Pad
        p(style='text-align: center;').
          See <a href='/dashboard/'>existing pads</a> from your groups.
    
    div.row-fluid
      div.span6.offset3
        :markdown
          Twinklepad is for **shared document editing**. Use it for:

          * Working out the language of proposals
          * Compiling lists of things
          * Recording minutes of meetings
          * Writing bylaws and policy
          * Anything else you need document editing for

          Assign the pad to your group, and it will appear in the
          [dashboard](/dashboard/) and be searchable for you.  Like all other
          InterTwinkles apps, you can set the sharing on a pad so that anyone
          can view or edit, or lock it down so that only your group can see it.
          Any pad that's owned by your groups will show up in your search
          results.

          Twinklepad is built using [etherpad](http://etherpad.org), a
          real-time collaborative text editor.  It extends etherpad to support
          signins, groups, and search.


        p
          a(href='/twinklepad/p/demo/')
            img(src='/static/twinklepad/img/twinklepad_example.png', style='opacity: 0.7')

        :markdown
          The InterTwinkles dev team is currently using TwinklePad for:

          * Lists of tasks that we're working on
          * Lists of vendors we're working with
          * Notes collected from groups and people we're speaking to
          * Stubs and drafts of [blog posts](http://blog.intertwinkles.org)
          * Drafts for documentation of tools

        p(style='text-align: center; border: 1px solid #ddd;')
          em Example of Pads listed next to other documents in a group's dashboard:
          img(src='/static/twinklepad/img/twinklepad_list.png')

        :markdown
          Have an interesting way you're using TwinklePad?  [contact us!](/feedback/)



        

  script#editTwinklePadViewTemplate(type='text/template')
    h3 <%- isNew ? "New Pad" : "Edit Pad" %>
    form.form-horizontal
      div.control-group
        label.control-label(for='id_name') Name
        div.controls.
          <input id='id_name' type='text' name='name'
                 value='<%- model.name || "" %>' />
      <% if (isNew) { %>
      div.control-group
        label.control-label(for='id_pad_name') URL Name
        div.controls.
          <input id='id_pad_name' type='text' name='pad_name'
                 placeholder='<%- randomName %>' value='<%- model.pad_name || "" %>' />
          <div class='twinklepad-url'></div>
      <% } %>
      div.control-group
        label.control-label(for='id_sharing') Sharing
        div.controls
          div#sharing

      div.control-group
        div.controls.
          <input class='btn btn-primary btn-large' type='submit'
                 value='<%- isNew ? 'Create Pad' : 'Save changes' %>' />
    
  script#twinklePadViewTemplate(type='text/template')
    div.pull-right(style='position: absolute; right: 2em; top: 0.5em')
      ul.sharing-online-group
        li(style='width: 4em;')
        li.sharing
    div(style='height: 3em;')
      h3(style='display: inline-block; vertical-align: middle; padding-right: 1em;')
        <%- model.title %>
      <% if (editable) { %>
      | <a href='/twinklepad<%- model.url %>edit/' class='softnav edit'>
      |  change
      | </a>
      <% } %>
    div.
      <% if (editable) { %>
        <iframe src='<%- embed_url %>'
                style='border: none;' height="100%" width="100%"></iframe>
      <% } else { %>
        <div id='text'><%= model.text %></div>
      <% } %>


block poststyles
  link(rel="stylesheet", type="text/css", href=asset("twinklepad/css/style.styl"))

block postscripts
  script(type="text/javascript", src=asset("twinklepad/js/frontend.coffee"))
