extends base

block body
  div(style='text-align: center;')
    div.row-fluid
      div.span4.offset4
        h1 TwinklePad  
        p(style='text-align: left;').
          Public or private collaborative document editing powered by
          <a href='http://etherpad.org'>etherpad</a>,
          for your groups.
        form#createPad
          label(for='name')
            | Pad name:&nbsp;
            input#name(type='text', name='padname')
          button.btn.btn-primary.btn-large(type='submit') Create Pad
    
    div.row-fluid
      div.span6.public
        h3 Public pads
        ul
          if listed_pads.public.length == 0
            div.no-result Nothing here yet
          else
            each doc in listed_pads.public
              div.search-result
                a(href='#{doc.absolute_url}')= doc.title
                &nbsp;
                span.group-name.label(data-group-id=doc.sharing_group_id)
                div.summary= doc.summary

      div.span6.groups
        h3 From your groups
        ul
          if (listed_pads.group.length == 0)
            if (is_authenticated)
              div.no-result Nothing here yet.
            else
              div.no-result Sign in &#8599; to see your group's documents.

          else
            each doc in listed_pads.group
              div.search-result
                a(href='#{doc.absolute_url}')= doc.title
                &ensp;
                span.group-name.label(data-group-id=doc.sharing_group_id)
                &ensp;
                div.summary= doc.summary

block append postscripts
  :coffeescript
    chars = "abcdefghijklmnopqrstuvwxyz0123456789"
    randomName = (chars.charAt(parseInt(Math.random() * chars.length)) for i in [0...12]).join("")
    $("#name").attr("placeholder", randomName)
    $("#createPad").on "submit", ->
      name = encodeURIComponent($("[name=padname]").val() or randomName)
      window.location.href = "/twinklepad/p/#{name}"
      return false

    if intertwinkles.is_authenticated()
      $("[data-group-id]").each ->
        group = intertwinkles.groups[$(this).attr("data-group-id")]
        if group?
          $(this).html group.name

    $(".search-result").on "click", ->
      window.location.href = $(this).find("a").attr("href")

    intertwinkles.user.on "change", ->
      window.location.href = window.location.href
