extends ../../../../views/layout

block poststyles
  link(rel="stylesheet", type="text/css", href=asset("points/css/style.styl"))

block postscripts
  script(type="text/javascript", src=asset("points/js/frontend.coffee"))

block preapp
  div.pull-right(style='position: absolute; right: 1em; top: 60px;')
    ul.sharing-online-group.pull-right
      li.room-users
      li.sharing
  div(style='height: 2em;')

block postapp
  script(type='text/template', id='splashTemplate')
    h1 Points of Unity
    div.row-fluid
      div.span6.offset3(style='text-align: center')
        p(style='font-size: 18px').
          Develop a set of shared values or principles with your&nbsp;group.
        p(style='text-align: center;')
          a.btn.btn-large.btn-primary.softnav(href='/points/add/') New Board
        p(style='text-align: center;').
          See <a href='/dashboard/'>existing points of unity</a> from your groups.

    div.row-fluid
      div.span6.offset3
        :markdown
          Points of Unity is a collaborative voting tool to see what your group
          agrees on.  Use it to identify a short list of things that everyone
          agrees to.  Some examples might include:

          * What are the ground rules for communication in meetings?
          * What principles should go into your manifesto?
          * What songs belong on the next party's playlist?
          * What strategies should the group adopt to combat the moth problem in the pantry?

        p
          em Example:
          a(href='/points/u/demo/')
            img.example(src='/static/points/img/poudash.png', style='opacity: 0.7')

        :markdown
          Everyone participating can add points, vote on them, and move them around.  Once a point gets enough support, you can "adopt" it, which will pin it to the top of the page.  (You can always "retire" a point if you change your mind).

          Need further help?  Read more [on the wiki](http://project.intertwinkles.org/projects/consensus/wiki/Points_of_Unity) or [contact us](mailto:support@intertwinkles.org).
          
          


  script(type='text/template', id='splashItemTemplate')
    li.
      <a class='softnav' href='/points/u/<%- pointset.get("slug") %>/'>
        <%- pointset.get("name") %>
      </a>
      <span class='group-name label varsub' data-group-id='<%- pointset.get("sharing").group_id %>'></span>

  script(type='text/template', id='editTemplate')
    h1 <%- title %>
    div.row-fluid
      div.span6.offset3
        form.form-horizontal
          div.control-group
            label.control-label(for="id_name") Name for point set
            div.controls
              <input id='id_name' type='text' name='name' style='display: block' value='<%- model.name || "" %>' />
          div.control-group
            label.control-label(for="id_slug") URL name 
            div.controls
              <input id='id_slug' type='text' name='slug' style='display: block' value='<%- model.slug || "" %>' />
              div.url-display
                <%- model.absolute_url %>

          div.control-group
            label.control-label(for='id_group') Group and sharing
            div.controls#sharing_controls
          div.control-group
            div.controls.
              <input class='btn btn-primary btn-large' type='submit' value='<%- action %>' />

  script(type='text/template', id='pointsetTemplate')
    div.hover-edit(style='text-align: center;')
      h1 <%- model.name %>
      | <% if (intertwinkles.can_edit(model)) { %>
      |   <a class='edit-link softnav' href='/points/u/<%- model.slug %>/edit/'>edit</a>
      | <% } %>
    ul.points.two-col
    hr

    div.drafts-area
      div.row-fluid(style='text-align: center;')
        div.add-point.span8.offset2
          h3 Drafts
          <% if (intertwinkles.can_edit(model)) { %>
          a.btn.add-point(href='#') Add Point
          <% } %>
        div.offset10
          <% if (intertwinkles.can_edit(model)) { %>
          button.btn.trash(style='float: right;')
            <i class='icon-trash'></i> Trash <span class='trashed-points-length'></span>
          <% } %>
      ul.drafts.two-col

    div.row-fluid
      div.history-holder(style='text-align: center;')

  script(type='text/template', id='supportersTemplate').
    <span
      <% if (supporters.length > 0) { %>
       rel='popover'

       title='Supporters'
       data-content='<% _.each(supporters, function(s, i) { %>&lt;nobr&gt;<%- intertwinkles.inline_user(s.user_id, s.name) %>&lt;/nobr&gt;<%- i < supporters.length - 1 ? ", " : "" %><% }); %>'
       data-html='true'
       data-trigger='click'
       data-placement='left'
      <% } %>
      ><%- supporters.length %>
      supporter<%- supporters.length == 1 ? "" : "s" %>:
    </span>
    <% _.each(supporters, function(supporter) { %>
      <span data-id="<%- supporter.user_id || '' %>" data-name="<%- supporter.name || ''%>">
        <%= intertwinkles.user_icon(supporter.user_id, supporter.name, "tiny") %>
      </span>
    <% }); %>

  script(type='text/template', id='pointTemplate')
    div.point-table
      div.point-row
        div.number.
          <% if (intertwinkles.can_edit(model)) { %>
            <a class='upboat<%- sessionSupports ? " supported": "" %>' href='#'>
              &#x25b2;
            </a><br />
          <% } %>
          <span class='drag-handle'>&bull;</span><br />
          
        div.therest
          div.supporters.
            <%= supportersTemplate({supporters: point.revisions[0].supporters}) %>
          div.text.
            <%= intertwinkles.markup(point.revisions[0].text) %>
          div.edit-line
            <% if (is_trash) { %>
            a.mark-untrash.pull-left(href='#') Restore
            <% } else if (!approved && intertwinkles.can_edit(model)) { %>
            a.mark-approved.pull-left(href='#') adopt
            <% } else if (approved && intertwinkles.can_edit(model)) { %>
            a.mark-approved(href='#') retire
            <% } %>
            <% if (!is_trash) { %>
            &nbsp;
            a.mark-trash(href='#') trash
            <% } %>
            ul.group.pull-right
              <% if (point.revisions.length > 1) { %>
              li.
                <a class='softnav'
                   href='/points/u/<%- model.slug %>/history/<%- point._id %>/'>
                  history
                </a>
              <% } %>
              <% if (!is_trash) { %>
              li.
                <span
                    class='editing<%- point.editing.length > 0 ? " active" : "" %>'
                    title='Currently being edited...'>
                  <i class='icon-pencil'></i>
                </span>
                <% if (intertwinkles.can_edit(model)) { %>
                  <a class='edit<%- point.editing.length > 0 ? " being-edited" : "" %>'
                     href='#'>edit</a>
                <% } %>
              li.
                <a class='only softnav'
                    href='/points/u/<%- model.slug %>/point/<%- point._id %>/'
                    title='Show detail'>
                  <i class='icon-fullscreen'></i>
                </a>
              <% } %>
            div(style='clear: both;')

  script(type='text/template', id='voteTemplate')
    form.vote-form.form-horizontal
      div.modal-body
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        blockquote <%= intertwinkles.markup(point.revisions[0].text) %>
        p(style='font-style: italic;').
          This point currently has <%- point.revisions[0].supporters.length %>
          supporter<%- point.revisions[0].supporters.length == 1 ? "" : "s" %>.
        div.control-group
          label.control-label(for='id_user') Voting for:
          div.controls.name-input(style='z-index: 1000')
      div.modal-footer
        button.pull-right.btn.btn-primary(type='submit')
        div.status.pull-right(style='margin-right: 0.5em;')
        a.close.pull-left.btn(href='#', data-dismiss='modal') Cancel
          
  script(type='text/template', id='confirmTrashTemplate')
    form.confirm-trash.form-horizontal
      div.modal-body
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        p.
          Move this point to the trash? You can restore it later.
      div.modal-footer
        button.pull-right.btn.btn-primary(type='submit') Move to trash
        a.close.pull-left.btn(href='#', data-dismiss='modal') Cancel

  script(type='text/template', id='pointDetailTemplate')
    div.point-detail.row-fluid
      h3(style='text-align: center').
        <%- model.name %> <%- group ? "by " + group.name : "" %>
      div.point-detail-point.span6.offset3
      div(style='clear: both;')
        <a class='softnav' href='/points/u/<%- model.slug %>/'>More points</a>

  script(type='text/template', id='editPointTemplate')
    form.edit-point.form-horizontal
      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 <%- point ? "Edit Point" : "Add Point" %>
        <% if (!soleSupporter) { %>
        div.alert
          | Others have supported this point. Changing it now will clear their votes.
        <% } %>
      div.modal-body
        div.control-group.name
          label.control-label(for="id_user") Name:
          div.controls
            div.name-input
        div.control-group.text
          label.control-label(for="id_text") Text:
          div.controls
            textarea#id_text(rows='10', cols='30', name='text')
              <%- point ? point.revisions[0].text : "" %>
      div.modal-footer
        button.btn.btn-primary(type='submit') Save
        a.close.pull-left.btn(href='#', data-dismiss='modal') Cancel

  script(type='text/template', id='approvePointTemplate')
    form.approve-point.form-horizontal
      div.modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
        h3 <%- approved ? "Retire point" : "Adopt point" %>
      div.modal-body
        blockquote <%= intertwinkles.markup(point.revisions[0].text) %>
        p.
          <% if (approved) { %>
            Does your group want to retire this point?
          <% } else { %>
            Is your group ready to adopt this point?
          <% } %>
      div.modal-footer
        button.btn.btn-primary(type='submit')
          <%- approved ? "Retire point" : "Adopt point" %>
        a.close.pull-left.btn(href='#', data-dismiss='modal') Cancel

  script(type='text/template', id='showTrashTemplate')
    div.modal-body 
      button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
      h3(style='text-align: center') Trash
      ul.trashed-points
    div.modal-footer
      a.btn.close(href='#', data-dismiss='modal') Close

  script(type='text/template', id='historyTemplate')
    div.point-history
      h3(style='text-align: center').
        <a class='softnav' href='<%- model.absolute_url.split(window.location.host)[1] %>' title='back' style='font-size: 16px;'>back</a>
        <%- model.name %> <%- group ? "by " + group.name: "" %>
      div.point-revisions.
        <% for (var i = 0; i < point.revisions.length; i++) { %>
          <% var rev = point.revisions[i]; %>
          <% var next = i < point.revisions.length ? point.revisions[i + 1] : null; %>
          <% var dmp = new diff_match_patch(); dmp.Diff_EditCost = 4; %>
          <div class='edit-date varsub' data-date='<%- rev.created %>'></div>
          <div class='row-fluid'>
            <div class='revision span6 offset3 point'>
              <div class='supporters'>
                <%= supportersTemplate({supporters: rev.supporters}) %>
              </div>
              <div class='text'>
                <% if (next) { %>
                  <% var d = dmp.diff_main(next.text, rev.text); %>
                  <% dmp.diff_cleanupSemantic(d); %>
                  <%= dmp.diff_prettyHtml(d) %>
                <% } else { %>
                  <%= intertwinkles.markup(rev.text || "") %>
                <% } %>
              </div>
            </div>
          </div>
        <% } %>
